@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('./common.css');

.wrap .boxs{
  width: 100%;
  margin: 0 auto;
  border: 4px solid black;
  }
.allbox{
  display: flex;
    background: orange;
    
  }